In [13]:
import yfinance as yf
import numpy as np
import pandas as pd

In [19]:
o = yf.Ticker("O")

In [16]:
o.dividends

Date
2003-02-19    0.08
2003-10-15    0.16
2004-08-23    0.08
2004-11-15    3.08
2005-02-15    0.08
              ...
2022-08-17    0.62
2022-11-16    0.68
2023-02-15    0.68
2023-05-17    0.68
2023-08-16    0.68
Name: Dividends, Length: 79, dtype: float64

In [28]:
o.major_holders

        0                                      1
0   0.10%        % of Shares Held by All Insider
1  82.59%       % of Shares Held by Institutions
2  82.67%        % of Float Held by Institutions
3    1455  Number of Institutions Holding Shares

In [25]:
o.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-07-24,62.618130,63.185755,62.498627,63.106087,4913400,0.000,0
2023-07-25,62.976628,63.295295,62.787417,62.827251,3284600,0.000,0
2023-07-26,62.827254,63.574130,62.827254,63.484505,3440300,0.000,0
2023-07-27,63.733463,63.912714,61.881209,61.931000,4957900,0.000,0
2023-07-28,62.179958,62.448834,60.875417,61.214001,5075900,0.000,0
2023-07-31,61.369999,61.529999,60.590000,60.970001,9894200,0.256,0
2023-08-01,61.009998,61.299999,60.610001,60.779999,3206500,0.000,0
2023-08-02,60.500000,60.689999,60.160000,60.369999,3554800,0.000,0
2023-08-03,60.090000,60.150002,58.630001,58.840000,6619800,0.000,0
2023-08-04,59.230000,60.250000,59.009998,59.220001,4505600,0.000,0
2023-08-07,59.320000,60.189999,59.230000,60.110001,4059400,0.000,0
2023-08-08,59.709999,59.820000,58.880001,59.000000,4465600,0.000,0
2023-08-09,58.880001,59.810001,58.660000,59.509998,3896100,0.000,0
2023-08-10,59.549999,59.610001,58.549999,58.790001,6938500,0.000,0
2023-08-11,58.650002,58.779999,58.330002,58.619999,5068200,0.000,0
2023-08-14,58.470001,58.619999,57.820000,57.939999,6150100,0.000,0
2023-08-15,57.720001,57.720001,56.840000,57.430000,6157700,0.000,0
2023-08-16,57.490002,57.599998,56.820000,56.869999,5102000,0.000,0
2023-08-17,57.009998,57.619999,56.849998,56.880001,5229500,0.000,0
2023-08-18,56.560001,57.220001,56.529999,56.900002,4840300,0.000,0
2023-08-21,56.820000,56.910000,55.959999,56.230000,4748900,0.000,0
2023-08-22,56.490002,56.619999,56.150002,56.320000,3451100,0.000,0
2023-08-23,56.540001,57.220001,56.500000,57.110001,5831200,0.000,0
2023-08-24,57.139999,57.549999,56.380001,56.384998,2817952,0.000,0